.main-menu{
    display: grid;
    grid-template-columns: auto auto;
    background-image: url('../assets/mainOverview.png');
    height: 431px;
    width: 350px;
    margin-left: 13px;
    margin-right: 13px;
   
}

.menu-option{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -15px;
    margin-left: -10px;
    margin-top: 10px;
   
}

.menu-option p{
    margin-top: -1px;
}