@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.mini-overlay {
    -webkit-app-region: drag;
    user-select: none;
    cursor: grab;


    background-color: #E5D1F5; 

    background-image: url('../assets/smallOverview2.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box; 
    
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    
    position: relative;
    padding: 0 20px;
    overflow: hidden; 
}

.button-area-mini {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-left: -70px;
}

.mini-gif {
    height: 100px; 
    width: auto;
    margin-right: 40px; 
    margin-left: -40px;
    object-fit: contain;
    margin-top: -16px;
}
.button-area {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#btn-expand {
    position: absolute; 
    top: 5px;           
    right: 5px;    
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;    
}

#allow-click {
    -webkit-app-region: no-drag;
    cursor: pointer;
}


.mini-overlay button,
.mini-overlay .no-drag {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.main-timer {
    background-image: url('../assets/mainOverview.png');
    height: 431px;
    width: 350px;
    margin-left: 13px;
    margin-right: 13px;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-text {
    color: var(--text-color);
    font-size: 25px;

}

.text-wrapper-mini.small-text {
    font-size: 30px; 
    margin-top: 35px; 
    margin-left: -10px;
}
.text-wrapper {
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 50px;
    color: var(--text-color)
}

.text-wrapper-mini{
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 44px;
    color: var(--text-color);
    margin-left: -20px;
}


.timer-btn {
    height: 40px;
    width: 126px;
    margin-left: 7.5px;
    background-color: var(--border-color);
    border: 3px solid var(--border-button-color);
    font-family: "Pixelify Sans", sans-serif;
    font-size: 25px;
    color: var(--text-color);

}

.timer-btn:hover{
    color: var(--baby-lilac-color);
    background-color: var(--border-button-color);
    cursor: pointer;
}
.timer-btn-mini {
    height: 30px;
    width: 116px;
    margin-left: -30px;
    margin-top: -3px;
    background-color: var(--border-color);
    border: 3px solid var(--border-button-color);
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    color: var(--text-color);

}

.timer-btn-mini:hover{
     color: var(--baby-lilac-color);
    background-color: var(--border-button-color);
   
}

#stop {
    width: 187px;
}

.timer-animation {
    margin-top: -20px;
    margin-bottom: 10px;

}

.time-input {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    background: transparent;
    border: none;
    width: 40px;
    text-align: center;
    outline: none;
    margin-bottom: 20px;
}

.text-wrapper.small-font {
    font-size: 22px;
    margin-top: 20px;
}

