body {
    margin: 0;

}

.bar-main {
    height: 58px;
    background: #E5D1F5;
    color: #66497B;
    display: flex;
    justify-content: left;
    align-items: center;
    gap:55px;

    -webkit-app-region: drag;
}


.top-bar {
    margin: 2%;
}

.bar-buttons{
    display: flex;
    gap:10px;
}
.control-button {
    -webkit-app-region: no-drag;
    cursor: pointer;
    background-color: transparent;
    padding-top: 4px;
    border: 3px solid var(--border-button-color);
}